bin/x86/Debug/cpulog.txt
*.exe
*.pdb
*.suo
*.Cache
bin/x86/Debug/*
obj/x86/Debug/*
obj/x86/Debug/*
obj/x86/Debug/x86CS.csproj.FileListAbsolute.txt
bin/x86/Debug/x86CS.vshost.exe.manifest
obj/x86/Debug/x86CS.csproj.FileListAbsolute.txt