bin
*.exe
*.pdb
*.suo
*.Cache
*.user
_ReSharper.x86CS
x86CS.6.0.ReSharper.user
x86CS.csproj.ReSharper.user
log4net.dll
x86cs.csps
*.counters
BIOS-bochs-legacy
VGABIOS-lgpl-latest
x86Disasm/bin
x86Disasm/obj
obj
*~
*.swp
