<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="x86CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="Machine" type="x86CS.Configuration.MachineSection, x86CS"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="false"/>
  </system.diagnostics>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="x86cs.txt"/>
      <appendToFile value="false"/>
      <immediateFlush value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <applicationSettings>
    <x86CS.Properties.Settings>
      <setting name="graphics" serializeAs="String">
        <value>XNA</value>
      </setting>
    </x86CS.Properties.Settings>
  </applicationSettings>
  <Machine memorySize="16">
    <Floppies>
      <Floppy Id="0" Image=""/>
      <Floppy Id="1" Image=""/>
    </Floppies>
    <Disks>
      <Disk Id="0" Type="None" Image=""/>
      <Disk Id="1" Type="None" Image=""/>
      <Disk Id="2" Type="None" Image=""/>
      <Disk Id="3" Type="None" Image=""/>
    </Disks>
  </Machine>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
